.title {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
  }
  h2{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: #9384D1;
  }
  .logo{
    width: 100px;
  }
form {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
  }
  
  .mainCard {
    width: 40vw;
    border-radius: 25px;
    background-color: #fff;
    padding: 25px;
  }
  .inputForm {
    border: none;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    width: 70%;
  }
  
  .inputForm::placeholder {
    padding: 0px;
  }
  
  .btnCreate {
    padding: 10px 15px;
    background-image: linear-gradient(
      109.6deg, #C9A7EB, #9384D1
    );
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }